@import "tailwindcss";

@theme {
  --font-mono: "IBMPlexMono-Regular", "IBMPlexMono-Bold", ui-monospace, monospace;
  --background-image-grid-pattern: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  --shadow-lg: 0.3rem 0.3rem black;
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("./fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url("./fonts/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: var(--font-mono);
}

.collapsible-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.collapsible-content.open {
  grid-template-rows: 1fr;
}

.collapsible-content > div {
  overflow: hidden;
}

div:has(> .collapsible-content) {
  transition: border-bottom-width 0.5s ease-in-out;
}

div:has(> .collapsible-content:not(.open)) {
  border-bottom-width: 0;
}
